
	
input[type=text1], input[type=password] 
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
div.right {

padding-right:0%;     
margin:30px;		 
text-align: right;
}


/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
	border-radius:16px;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 10%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

body {margin: 100px 20x 20px 70px;}
h1 {font-size:20px;font-family:arial;color:#f4511e;}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.6);
    padding-top: 60px;
}


.modal-content {
    background-color: #fefefe;
    margin: 5px auto; 
    border: 1px solid #888;
    width: 90%; 
}


.close {
   
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}


.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
.page-footer {
    position:relative;
	top:1000px;
    background-color: #7d7d7d;
    color: #e0e0e0;
	padding-top:64px;
	box-sizing: border-box;
	}
.page-footer.container{
max-width:100%;
}	

.page-footer.footer-sitemap{
border-top:1px solid;
margin-bottom:0px:
marhin-top:6px;
}
.row{
margin-left:-5px;
margin-right:-5px;
}

.col-e{
display:inline-block;
padding-left:5px;
padding-right:5px;
position:relative;
min:height:1px;
}
.col-f{
display:inline-block;
padding-left:100px;
padding-right:15px;
position:absolute;
min:height:1px;
}
.text-uppercase{
    text-transform: uppercase;
	font-size: 14px;
    line-height: 22px;
	font-weight: 600;
	font-family: 'Gotham';
    font-style: normal;
}
div.container{
margin-right:auto;
margin-left:auto;
width:750px;
}
body {margin: 100px 20x 20px 70px;}
	
div.seemore	{display: inline-block;
	position: absolute;
	width: 500px;
	
	top:700px;
	right:480px;
	
	height: 0px;
    margin: 0px;
}
div.fut {

   
      display:inline-block;
      position:auto;
	  left:0;
	  top:0;
	  width:100%;
	  height:100%;
	  }
	  div.right {

padding-right:0%;     
margin:30px;		 
text-align: right;
}
div.container{
margin-right:auto;
margin-left:auto;
width:750px;
}



div.inline {
            border-radius: 25px;     
           float:left;
		   margin: 15px;
		 }
		 h1 {font-size:20px;font-family:arial;color:#f4511e;}
		 



table, th{
	background-color: #0C090A;
    border:1px solid white;
    border-collapse: collapse;
}
th {
	color:Red;
	font-size:20px;
    padding: 50px;
    text-align: center;
}
.page-footer {
	text-align:left;
    position:relative;
	top:400px;
    background-color: #7d7d7d;
    color: #e0e0e0;
	padding-top:64px;
	box-sizing: border-box;
	}
.page-footer.container{
max-width:100%;
}	

.page-footer.footer-sitemap{
border-top:1px solid;
margin-bottom:0px:
margin-top:6px;
}
.row{
margin-left:-250px;
margin-right:-5px;
}

.col-e{

display:inline-block;
padding-left:5px;
padding-right:5px;
position:relative;
min:height:1px;
}
.col-f{
display:inline-block;
padding-left:100px;
padding-right:15px;
position:absolute;
min:height:1px;
}
.text-uppercase{
    text-transform: uppercase;
	font-size: 14px;
    line-height: 22px;
	font-weight: 600;
	font-family: 'Gotham';
    font-style: normal;
}
button {
    background-color:EEE7E7;
	
    color: red;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
	border-radius:16px;
    cursor: pointer;
    width: 100%;
	
	
}





.container {
    margin-right: auto;
    margin-left: auto;
}	
div.fut {
      position:auto;
	  left:0;
	  top:0;
	  width:100%;
	  height:100%;
	  }
	  
#image {
        width:100%;
		height:auto;
}
             
div.inline {
            border-radius: 25px;     
           float:left;
		   margin: 15px;
		 }

		 
div.relative {
              position: relative;
			  top:10px;
			  
              left: 25px;
			  }
div.floating-box {
    display: inline-block;
	position: relative;
	width: 150px;
    height: 750px;
    margin: 20px;
	}	
div.fuzz {
    display: inline-block;
	position: absolute;
	width: 150px;
	top:40px;
	right:100px;
	height: 1px;
    margin: 0px;
	}
div.fat {
    display: inline-block;
	position: absolute;
	width: 150px;
	top:40px;
	right:-25px;
	height: 1px;
    margin: 0px;
	}
div.gp {
    display: inline-block;
	position: absolute;
	width: 150px;
	
	top:100px;
	right:0px;
	left:0px;
	height: 1px;
    margin: 0px;	
}
div.hk {
    display: inline-block;
	position: absolute;
	width: 150px;
	
	top:500px;
	right:1050px;
	
	height: 0px;
    margin: 0px;
}
div.rt {
    display: inline-block;
	position: absolute;
	width: 150px;
	top: 500px;
	
	right: 200px;
	height: 0px;
    margin: 0px;
}
.button {
  display: inline-block;
  border-radius: 8px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button1 {
  display: inline-block;
  border-radius: 8px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  width: 110px;
  transition: all 0.5s;
  cursor: pointer;
  margin: -50px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 10px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}
.button2 {
  display: inline-block;
  border-radius: 8px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}
.button3 {
  display: inline-block;
  border-radius: 16px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
}

.button3 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button3 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button3:hover span {
  padding-right: 25px;
}

.button3:hover span:after {
  opacity: 1;
  right: 0;
}
input[type=text] {
            height: 20px;
			width : 200px;
			}
div.containel{
                width:100%;
        background-color:#EDEDED;
		position:absolute;
		left:0px;
		right:0px;
				top:650px;
				 width:100%;
				height:80%;
				scroll:overflow;
                 

		 
		 }
div.h{
position:absolute;
left:10px;
}
div.small{
line-height:10%;
}		 
div.log{
position:absolute;
top:20px;
right:500px;
}	

ul.ty {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.pos1{
	position:relative;
	width:300px;
	left:-160px;
	top:-150px;
}
.pos2{
	position:relative;
	width:300px;
	left:-150px;
	top:-150px;
}
.pos3{
	position:relative;
	width:300px;
	left:-140px;
	top:-150px;
}
.pos4{
	position:relative;
	width:300px;
	left:-130px;
	top:-150px;
}
.pos5{
	position:relative;
	width:300px;
	left:-130px;
	top:-150px;
}
.pos1{
	position:relative;
	width:300px;
	left:-160px;
	top:-150px;
}
.pos2{
	position:relative;
	width:300px;
	left:-150px;
	top:-150px;
}
.pos3{
	position:relative;
	width:300px;
	left:-140px;
	top:-150px;
}
.pos4{
	position:relative;
	width:300px;
	left:-130px;
	top:-150px;
}
.pos5{
	position:relative;
	width:300px;
	left:-130px;
	top:-150px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  
  margin: auto;
  text-align: center;
  font-family: arial;
}

.container56 {
	
  padding: 0 16px;
}

.container56::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  font-size: 18px;
}

.bur {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

#r {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
	
	html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}




.right1{
	font-size:12px;
    float:left;
}

.left{
font-size:12px;
    float:right;
}
ul.menu1	{
	height: 300px; // hide the scroll bar
	background: #f3f3f3;
	box-sizing: border-box;
	
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}
	
	li.item4 {
	
		display: inline-block;
		width: 100px;
		height: 100%;
		
		padding: 10em;
		box-sizing: border-box;
	}
